// Header Styles
header {
  border-bottom: 1px solid lightgrey;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  padding: 0 1.6rem;
  box-sizing: border-box;
}
.logo {
  max-width: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 5rem;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}
nav {
  display: none;
  position: fixed;
  top: 5rem;
  left: 0;
  height: calc(100vh - 5rem);
  width: 100vw;
  background-color: rgb(33, 100, 146);
  z-index: 2;
  a {
    padding: 1rem 1.8rem;
    color: rgb(33, 100, 146);
    font-size: 3rem;
    &:hover {
      color: white;
    }
  }
  &.active {
    a {
      padding-bottom: .2rem;
      border-bottom: 2px solid black;
      &:hover {
        border-color: white;
      }
    }
  }
  &.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      color: white;
    }
    &.active {
      a {
        border-color: white;
      }
    }
  }
}

button.nav-button {
  background-color: transparent;
  border: none;
  cursor:pointer;
  height: 1.8rem;
  rect {
    fill: rgb(33, 100, 146);
    transform: translate(0, 0) rotateZ(0);
    transition: all 0.6s ease-in-out;
    transform-origin: center;
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}

button.nav-button.open {
  .top {
    transform: translate(0, 6px) rotateZ(45deg);
  }
  .middle {
    opacity: 0;
  }
  .bottom {
    transform: translate(0, -8px) rotateZ(-45deg);
  }
}

@media (min-width: 700px) {
  header {
    height: 7.5rem;
  }
  .logo {
    max-width: 14rem;
    height: 7.5rem;
  }
  nav {
    top: 5rem;
    height: calc(100vh - 7.5rem);
  }
}

@media (min-width: 1100px) {
  nav {
    display: block;
    position: relative;
    background-color: transparent;
    height: auto;
    width: auto;
    top: auto;
    a {
      padding-right: 0;
      display: inline-block;
      font-size: 1.6rem;

      &:hover {
        color: black;
      }
    }
  }

  button.nav-button {
    display: none;
  }
}