@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import '../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss';
@import 'header.scss';
@import 'resets.scss';


body {
  &.modal-open {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

section {
  padding: 1.6rem;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: left;
  font-size: 2.4rem;
}

p {
  line-height: 1.6;

  @media (min-width: 700px) {
    font-size: 2.2rem;
  }
}

section {
  text-align: center;

  h1 {
    text-align: center;
  }

  > div {
    text-align: left;
  }

  p {
    text-align: left;
  }
}

// Main
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 50px);
  overflow: hidden;
  margin-top: 50px;
}
.main__bgImg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main__overview {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(#0B6FAD, .7);
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3.6rem;
    z-index: 2;
    color: white;
    margin: 32px auto;
  }

  p:not(:empty) {
    margin: 0 auto 8px;
    text-align: center;
  }

  a {
    display: inline-block;
    margin: 16px auto;
    padding: 8px 16px;
    border: 2px solid white;

    &:hover {
      color: rgba(#0B6FAD, .5);
      background-color: white;
    }
  }
}

// Team
.team {
  background-color: rgb(33, 100, 146);

  h1 {
    color: white;
  }
  p {
    color: white;
    margin: 0 auto 3.2rem;
  }
}
.team__members {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.team__member {
  flex: 0 auto;
  padding: 1.6rem;
  img {
    border-radius: 50%;
    max-width: 19.2rem;
    width: 100%;
  }
  a {
    color: white;
    display: block;
    margin: 8px 0;
    text-align: center;
  }
}

// Clients
.clients {
  padding: 3.2rem;
}
.client {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  &:nth-child(even) {
    direction: rtl;
  }
}
.client__text {
  flex: 1 100%;
  text-align: left;
  direction: ltr;
}
.client__imageWrapper {
  flex: 1 100%;
  margin-bottom: 1.6rem;

  img {
    margin: auto;
    max-width: 100%;
  }
}
.client__attribution {
  margin-top: 16px;
  font-weight: 600;
}
.client__testimonial {
  margin-bottom: 8px;
}
.client__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.client__control {
  background-color: rgb(33, 100, 146);
  border-radius: 50%;
  outline: none;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  cursor: pointer;
  border: none;
}

// Questions
.questions {
}
.question {
  margin-bottom: 1.6rem;
}
.question__text {
  font-weight: bold;
  margin: auto;
}
.answer {
  margin: 8px auto 16px;
}
.answer__name {
  color: gray;
}

// Impact
.impact {
  position: relative;

  &:before {
    position: absolute;
    width: 60%;
    margin: 0 auto;
    top: 16px;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 4px solid #216492;
    opacity: .4;
    content: '';
  }

  p {
    margin: 0 auto 3.2rem;
  }

  img {
    max-width: 100%;
    display: block;
    width: 250px;
    margin: 24px auto;
  }
}

// Contact
.contact {
  padding: 3.2rem 1.6rem;
  background-color: rgba(#E02527, .7);
  text-align: center;

  h1 {
    color: white;
  }

  .contact__linkWrapper {
    text-align: center;
  }

  a {
    color: white;
    display: inline-block;
    font-size: 2.4rem;
    padding: 8px 16px;
    border: 2px solid white;
  }
}

@media (min-height: 700px) and (min-width: 900px) {
  .main {
    min-height: calc(100vh - 75px);
    justify-content: center;
    margin-top: 75px;

    h1 {
      margin-bottom: 72px;
    }
  }
  .main__overview {
    padding: 32px;

    p:not(:empty) {
      margin: 16px auto;
    }
  }
}

@media (min-width: 700px) {

  h1 {
    display: inline-block;
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
  }

  p {
    font-size: 1.8rem;
  }

  .main__overview {
    h1 {
      top: -192px;
    }

    p, a {
      font-size: 2rem;
    }
  }

  .client {
    flex-wrap: nowrap;
    align-items: center;
  }
  .client__text {
    flex: 0 50%;
    padding: 16px;
  }
  .client__imageWrapper {
    flex: 0 50%;
    margin-bottom: 0;
    padding: 16px;
  }
  .client__testimonial {
  }
  .client__controls {
    margin-top: 0;
  }

  .team__member {
    padding: 1.6rem 4.8rem;
  }
}

@media (min-width: 900px) {

  p {
    font-size: 2.2rem;
  }

  .main__overview {
    p, a {
      font-size: 2.2rem;
    }
  }


  .main {
    h1 {
      font-size: 4rem;
    }
  }
}

@media (min-width: 1100px) {

  h1 {
    font-size: 3.2rem;
  }

  .main__overview {
    padding: 48px;
  }

  .client {
    padding: 16px;
  }

  .client__text {
    flex: 0 40%;
  }
  .client__imageWrapper {
    flex: 0 40%;
  }

  .team {
    p {
      margin: 0 auto 7.2rem;
    }
  }

  .impact {
    padding-top: 7.2rem;

    &:before {
      width: 40%;
      top: 4.8rem;
    }

    p, img {
      margin: 0 auto 7.2rem;
    }
  }

  .questions {
  }

  .contact {
    padding: 3.2rem 1.6rem 4.8rem;
  }
}
