@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  scroll-behavior: smooth;
}

body {
  margin:0;
  user-select: initial;
}

a, p, li, span {
  font-size: 1.6rem;
  max-width: 800px;
}

h1, h2, h3 {
  max-width: 800px;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select {
  font-size: 1.8rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}