---

---
header
  a.logo href="/"
    img src=dato.nav.logo.url
  button.nav-button
    svg height="18" width="25"
      g
        rect.top height="2" rx="2" ry="2" width="25" x="0" y="0"
        rect.middle height="2" rx="2" ry="2" width="25" x="0" y="8"
        rect.bottom height="2" rx="2" ry="2" width="25" x="0" y="16"
  nav
    - dato.nav.nav_links.each do |link|
      a href="#{link.url}"= link.text

main
  section.main
    img.main__bgImg src=dato.main_section.background_image.url
    .main__overview
      h1#main= dato.main_section.heading
      p= markdown(dato.main_section.overview)
      a href="#contact"= dato.main_section.contact_button
  section.clients
    h1#clients= dato.client_section.heading
    .glide
      .glide__track data-glide-el="track"
        ul.glide__slides
          - dato.clients.each do |client|
            .client.glide__slide
              .client__imageWrapper
                a href=client.url target="_blank"
                  img src=client.logo.url
              .client__text
                p.client__testimonial= client.testimonial
                p.client__attribution= client.attribution
      .glide__bullets.client__controls data-glide-el="controls[nav]"
        - dato.clients.each_with_index do |client, i|
          span.glide__bullet.client__control data-glide-dir="=#{i}"
  section.team
    h1#team= dato.about_us_section.heading
    .team__members
      - dato.team_members.each do |member|
        .team__member
          img src=member.photo.url
          a href=member.linkedin_url #{member.name}
    .team__info
      - dato.about_us_section.body.each do |record|
        p= record.paragraph
  section.questions
    h1#questions= dato.question_answer_section.heading
    - dato.team_questions.each do |question|
      .question
        p.question__text= question.question['text']
        - question.question['answers'].each do |answer|
          p.answer
            span.answer__name= answer['name'] + ': '
            span.answer__text= answer['text']
  section.impact
    h1#impact= dato.impact_section.heading
    - dato.impact_section.body.each do |record|
      p= record.paragraph
    img src=dato.impact_section.logos[0].url
  section.contact
    h1#contact= dato.contact_section.heading
    .contact__linkWrapper
      a href="#{dato.contact_section.email_link['url']}"= dato.contact_section.email_link['text']
